
/* Your CSS Code here. */
 *{
	margin :0;
	padding :0;
	box-sizing :border-box;
}
.item-1{
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	height : 100px ; 
	width : 100px;
	background-color : red;
}